* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: rgb(211, 207, 207);
}



.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  background-color: black;
}

.navBar .left p {
  color: rgb(211, 207, 207);
  font-size: 2.2rem;
  font-weight: 400;
  margin-left: 10rem;

}

.navBar .right {
  width: 40%;
}

.navBar .right ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.navBar .right ul li a {
  text-decoration: none;
  color: rgb(211, 207, 207);
  font-size: 1.5rem;
}

.firstsection {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.firstsection .left {
  font-size: 2.6rem;
  font-weight: 400;
  width: 50%;
}


.firstsection .left span {
  color: blueviolet;
}



.firstsection .right {

  width: 50%;
  position: relative;
  height: 22rem;
  width: 22rem;

}

.firstsection .right img {

  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}


.divider-line {
  width: 70%;
  margin: auto;
}